<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)$ index.php [QSA,L] //from the beginning to the end we take all the characters - QSA query string append, and L launch
</IfModule>
