footer{
	background-color: lightgrey;
	color: black;
}
footer .navbar {
	background-color: #42f4e8;
}

header section {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	
}
header section img {
	width: 80%;
	height: 200px;
	margin: 20px;
}
header section p {
	align-self: center
}

body {
	padding: 20px;
	background-color: lightblue;
	color: blue;
	font-family: Arial, Helvetica, sans-serif;
}

form {
	background-color: purple;
	padding: 25px;
	display: block;
}


